/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: poppins;
}
.pink {
    color:#FF136F;
}
.header {
    width: 90%;
    margin: 0 auto;
}
.content {
    display: flex;
    align-items: center;
    background-color: #FEEAE9;
    padding: 30px 20px;
    border-radius: 10px;
}
.item-1 {
    width: 50%;
}
.header .item-1 img {
    width: 50%;
}
.header .item-1 h1,p {
    margin: 0;
}
.header .item-1 h1 {
    font-size: 56px;
}
.header .item-1 p {
    font-size: 16px;
}
.header .item-1 span {
    display: block;
    font-size: 41px;
}
.info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.info a {
    background-color:#FF136F;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    width: 70px;
}
/* categories section */
.main {
    width: 90%;
    margin: 0 auto;
}
.image {
    display: flex;
    justify-content: center;
}
.main {
    margin-left: 15%;
}
.categories {
    display: flex;
    column-gap: 8%;
}
.item {
    display: flex;
    align-items: center;
    padding: 10px 35px;
    border-radius: 10px;
    column-gap: 30px;
}
.item h1 {
font-weight: 500;
}
.item img {
    width: 70px;
}
#watch {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
#bag {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
#shoes {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
/* main seation */
.shoess {
    width: 150px;
    height: 100px;
}
.contents h1 {
font-weight: 600;
    width: 303px;
}
.contents p {
    font-weight: 400;
    width: 307px;
}
.contents span {
    display: block;
    font-weight: 500;
    width: 69px;
    height: 36px;
}
.shoes-1 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.shoes-2 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.shoes-3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.boss {
    display: flex;
    column-gap: 8px;
}
.boss a {
    color: white;
    background-color: black;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
}
.backpack-1 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.backpack-2 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.backpack-3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
/* footer seation */

.footers {
    text-align: center;
    background: #FFF2F1;
    margin: 5% 15%;
    padding: 40px 0;
}
input[type="email"] {
    padding: 10px 50px;
    border-radius: 5px;
}
input[type="submit"] {
    background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
    padding: 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footers {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footers h1 {
    margin: 0;
}
.footers p {
    font-size: 10px;
}